@font-face {
  font-family: "나눔스퀘어";
  src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}

.search {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.top {
  position: fixed;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
}

body {
  margin: 0;
  font-family: "나눔스퀘어", "Nanum Gothic";
}

body a {
  text-decoration: none;
}

.category {
  margin: 0;
  background-color: #eeeeee;
  text-align: center;
  border-bottom: 0.2vw solid #7a7a7a;
  padding-top: 12%;
}

.category p{
  font-size: 5vw;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #7a7a7a;
}

.center_category a {
  font-size: 4vw;
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
  color: #7a7a7a;
  
  margin-top: 2%;
  margin-bottom: 2%;
  
}

.center_category{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  vertical-align: middle;
  background-color: #eeeeee;
}

.coach_intro {
  margin-top: 3%;
  padding-bottom: 3%;
  border-bottom: 0.5vw solid #eeeeee ;
}

.coach_intro p {
  font-size: 5vw;
  margin: 0;  
  margin-left: 2.5%;
  margin-bottom: 5%;
  color: #4279bd;
}


.coach_name p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 4vw;
}


.coach_name img{
  vertical-align: middle;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.option {
  margin-top: 3%;
  margin-bottom: 5%;
}

.option_1 {
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 0.2vw solid #eeeeee;
  
}

.option_1 p {
  font-size: 4vw;
  margin-left: 2.5%;
  display: inline-block;
  color: #7a7a7a;
  
}

.option_1 select {
  margin-left: 5%;
  width: 70%;
  height: 6vw;
  font-size: 3vw;
  color: #7a7a7a;
  background-color: #eeeeee;
}

.option_2 {
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 0.2vw solid #eeeeee;
}

.option_2 p {
  font-size: 4vw;
  margin-left: 2.5%;
  display: inline-block;
  color: #7a7a7a;
}

.option_2 select {
  margin-left: 5%;
  width: 70%;
  height: 6vw;
  font-size: 3vw;
  color: #7a7a7a;
  background-color: #eeeeee;
}

.coach_data {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1vw solid #eeeeee;
  
}



.data p {
  display: inline-block;
  font-size: 4vw;
  color: #7a7a7a;
  margin-left: 2.5%;
  vertical-align: middle;
}
  

.data img {
  margin-left: 2.5%;
  vertical-align: middle;
}

.product_word {
  margin-bottom: 7%;
  margin-left: 2.5%;
  color: #4279bd;
  font-size: 5vw;
}

.semos_only_product {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 4vw;
  border-bottom: 0.4vw solid #eeeeee;
}

.semos_only_product p {
  margin-bottom: 7%;
  color: #7a7a7a;
}

.required {
  border: 0.2vw solid #7a7a7a;
  border-radius: 10%;
  display: inline-block;
  background-color: #eeeeee;
}

.coach_product {
  margin-bottom: 5%;
}

.map_img {
  margin-left: 2.5%;
  border-radius: 10%;
}

.address img {
  width: 5%;
  margin-left: 2.5%;
  vertical-align: middle;
}

.address p {
  display: inline-block;
  font-size: 3vw;
  color: #7a7a7a;
  margin-left: 2.5%;
}

.address button {
  border: none;
  background-color: white;
  font-size: 3vw;
  color: #7a7a7a;
  margin-left: 22%;
  font-family: 나눔스퀘어;
}

.map {
  margin-bottom: 19vw;
  border-bottom: 1vw solid #eeeeee;
}

.heart {
  width: 24.7%;
  margin: 0;
  height: 17vw;
  vertical-align: middle;
  border: none;
  background-color: #eeeeee;
}

.heart img {
  width: 60%;
}

.call {
  width: 37%;
  margin: 0;
  height: 17vw;
  border: none;
  vertical-align: middle;
  background-color: #eeeeee;
  color: #4279bd;
  font-size: 4vw;
}

.catting {
  width: 37%;
  margin: 0;
  height: 17vw;
  border: none;
  vertical-align: middle;
  background-color: #4279bd;
  color: white;
  font-size: 4vw;
}

.button_bar {
  margin-top: 5%;
  border: 0.3vw solid #7a7a7a;
  position: fixed;
  bottom: 0;
  background-color: #7a7a7a;
  width: 100%;
}