.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}


.top {
  position: top;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
}

body {
  margin: 0;
  font-family: "나눔스퀘어", "Nanum Gothic";
}

body a {
  text-decoration: none;
}


.semos_only {
  margin-bottom: 7%;
  margin-left: 2.5%;
  color: #4279bd;
  font-size: 4vw; 
}

.product_word {
  margin-bottom: 7%;
  color: #4279bd;
  font-size: 5vw;
  text-align: center;
}

.semos_only_product {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 3vw;
  border-bottom: 0.3vw solid #4279bd;
  margin-bottom: 4%;
}

.semos_only_product .service {
  margin-bottom: 4%;
  color: #7a7a7a;
  width: 70%;
  font-size: 4vw;
  border-bottom: 0.3vw solid #4279bd;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #4279bd;
  padding-left: 2%;
}

.semos_only_product .reservation {
  border: 0.3vw solid #4279bd;
  border-radius: 10% / 30%;
  font-size: 4vw;
  display: inline-block;
  background-color: #eeeeee;
  padding: 0.5%;
  color: #4279bd;
}

.semos_only_product .service_info {
    font-size: 3vw;
    width: 85%;
    height: 15vw;
    border-bottom: 0.3vw solid #4279bd;
    margin-bottom: 3%;
    color: #4279bd;
    padding-left: 0.5%;
    padding-left: 2%;
}

.price {
    text-align: right;
    color: #4279bd;
    font-size: 4vw;
    display: inline-block;
    width: 65%;
}

.coach_product {
  border-bottom: 0.5vw solid #eeeeee;
}


.coach_intro {
  margin-top: 3%;
  padding-bottom: 3%;
  border-bottom: 0.5vw solid #eeeeee ;
  
}

.coach_intro p {
  font-size: 5vw;
  margin: 0;  
  margin-left: 2.5%;
  margin-bottom: 5%;
  color: #4279bd;
}


.coach_name p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 4vw;
}


.coach_name img{
  vertical-align: middle;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.coach_data {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 0.5vw solid #eeeeee;
  
}


.data p {
  display: inline-block;
  font-size: 4vw;
  color: #7a7a7a;
  margin-left: 2.5%;
  vertical-align: middle;
  width: 80%;
}
  

.data img {
  margin-left: 2.5%;
  vertical-align: middle;
}

#map {
  width: 90%;
  height: 60vw;
  margin-left: 5%;
  margin-top: 3%;
  border: 0.3vw solid #4279bd;
}

.map p {
  font-size: 3vw;
  margin: 0;
  color: #4279bd;
  margin-left: 2.5%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1%;
  margin-bottom: 2%;
}

.map img {
  margin-top: 1%;
  margin-left: 5%;
  vertical-align: middle;
  margin-bottom: 2%;
}

.heart {
  width: 24.7%;
  margin: 0;
  height: 17vw;
  vertical-align: middle;
  border: none;
  background-color: #eeeeee;
}

.heart img {
  width: 60%;
}

.call {
  width: 36%;
  margin: 0;
  height: 17vw;
  border: none;
  vertical-align: middle;
  background-color: #eeeeee;
  color: #4279bd;
  font-size: 4vw;
}

.catting {
  width: 36%;
  margin: 0;
  height: 17vw;
  border: none;
  vertical-align: middle;
  background-color: #4279bd;
  color: white;
  font-size: 4vw;
}

.button_bar {
  margin-top: 5%;
  border: 0.3vw solid #7a7a7a;
  position: fixed;
  bottom: 0;
  background-color: #7a7a7a;
  width: 100%;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}




/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -5%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 3vw;
  padding: 1% 0;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 3vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
  margin: 0 0.5%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4279bd;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}