@font-face {
  font-family: "나눔스퀘어";
  src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}

.search {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.top {
  position: fixed;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
}

body {
  margin: 0;
  font-family: "나눔스퀘어", "Nanum Gothic";
}

body a {
  text-decoration: none;
}

.category {
  margin: 0;
  background-color: #eeeeee;
  text-align: center;
  border-bottom: 0.2vw solid #7a7a7a;
  padding-top: 12%;
}

.category p{
  font-size: 5vw;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #7a7a7a;
}

.center_category a {
  font-size: 4vw;
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
  color: #7a7a7a;
  
  margin-top: 2%;
  margin-bottom: 2%;
  
}

.center_category{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  vertical-align: middle;
  background-color: #eeeeee;
}

.silder {
  margin: 0;
}

.center_intro p {
  font-size: 3vw;
  display: inline-block;
  margin-left: 2.5%;
  color: #7a7a7a;
}

.center_count {
  margin-left: 35% ;
  vertical-align: middle;
}

.center_intro {
  margin-top: 3%;
  vertical-align: middle;
  margin-bottom: 3%;
}

.center {
  display: inline-block;
  width: 48%;
  margin-left: 1%;
  margin-bottom: 5%;
  
}

.product_img {
  display: inline-block;
}

.intro {
  display: inline-block;
  width: 48%;
  
  
}

.product{
  border: 0.5vw solid #eeeeee;
}

.intro p {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 3vw;
  color: #7a7a7a;
}

.address {
  vertical-align: middle;
}

.heart {
  vertical-align: middle;
}

.product_word {
  font-size: 4vw;
  color: #ec3b4d;
  margin-left: 1%;
}

.product_small_word {
  font-size: 3vw;
  color: #7a7a7a;
  margin-left: 1%;
}

.center_word {
  font-size: 3.5vw;
  color: #ec3b4d;
}

.coach_word {
  font-size: 3.5vw;
  color: #ec3b4d;
}

.coach {
  display: inline-block;
  width: 48%;
  margin-left: 2%;
  margin-bottom: 5%;

}