@font-face {
  font-family: "나눔스퀘어";
  src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  font-family: "나눔스퀘어", "Nanum Gothic";
  margin: 0;
}

body a {
  text-decoration: none;
}

.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}

.search {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.top {
  position: fixed;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
  border-bottom: 0.3vw solid #4279bd ;
}

.search_bar {
  border: 0.5vw solid #eeeeee;
  padding-top: 10vw;
}

.word {
  font-size: 3vw;
  color: #7a7a7a;
  margin: 2.5%;
  display: inline-block;
  vertical-align: middle;
}

.search_icon {
 vertical-align: middle;
 margin-left: 22%;
}

.slide {
  margin: 0;
  border: 0.5vw solid #eeeeee;
  padding: 0;
}

.slide_img {
  
}

.sport_word {
  display: inline-block;
  font-size: 3vw;
}

.sport {
  display: inline-block;
  width: 20%;
  margin: 2.1%;
  text-align: center;
  
}

.sport_icon {
  display: inline-block;
  
}

.select {
  display: inline-block;
  border: 0.5vw solid #eeeeee;
}

.center {
  display: inline-block;
  width: 48%;
  margin-left: 1%;
}

.product_img {
  display: inline-block;
}

.intro {
  display: inline-block;
  width: 48%;
  
  
}

.intro p {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 3vw;
  color: #7a7a7a;
}

.address {
  vertical-align: middle;
}

.heart {
  vertical-align: middle;
}

.product_word {
  font-size: 4vw;
  color: #4279bd;
  margin-left: 1%;
}

.product_small_word {
  font-size: 3vw;
  color: #7a7a7a;
  margin-left: 1%;
}

.center_word {
  font-size: 3.5vw;
  color: #4279bd;
}

.coach_word {
  font-size: 3.5vw;
  color: #EC3B4D;
}

.register {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}

.register button {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #eeeeee;
  border: 0.3vw solid #4279bd;
  border-radius: 10% / 30%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.register a {
  color: #4279bd;
  font-size: 4vw;
  