@font-face {
  font-family: "나눔스퀘어";
  src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  font-family: "나눔스퀘어", "Nanum Gothic";
  margin: 0;
}

body a {
  text-decoration: none;
}

.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}



.top {
  width: 100%;
  position: fixed;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
  border-bottom: 0.3vw solid #4279bd ;
}

.login {
  text-align: center;
  
}

.login input{
  font-size: 4vw;
  border: 0.3vw solid #4279bd;
  color: #7a7a7a;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.login form {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.login a {
  font-size: 3vw;
  color: #7a7a7a;

}

.login div {
  text-align: right;
  margin-bottom: 1%;
  margin-right: 5%;
}

.id {
  width: 30%;
  margin-right: 2.5%;
  vertical-align: middle;
}

.pw {
  width: 30%;
  margin-left: 2.5%;
  vertical-align: middle;
}

.login_submit {
  width: 15%;
  margin-left: 5%;
  vertical-align: middle;
  border-radius: 10% / 20%;
  color: #4279bd;
}

.profile {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.profile img {
  margin-left: 10%;
  display: inline-block;
  vertical-align: middle;
}

.profile p {
  display: inline-block;
  font-size: 3.5vw;
  margin: 0;
  margin-left: 3%;
}

.profile div a {
  display: inline-block;
  font-size: 3.5vw;
  margin: 0;
  margin-left: 3%;
  margin-top: 2.5%;
  color: #4279bd;
}

.profile div {
  vertical-align: middle;
  width: 50%;
  margin-left: 3%;
}

.profile button {
  font-size: 3.5vw;
  background-color: #eeeeee;
  color: #4279bd;
  border: none;
  border-radius:10% / 20% ;
}

.word {
  font-size: 3vw;
  color: #7a7a7a;
  margin: 2.5%;
  display: inline-block;
  vertical-align: middle;
}

.search {
  width: 80%;
  font-size: 3vw;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "나눔스퀘어", "Nanum Gothic";
  padding-top: 1%;
  padding-bottom: 1%;
  vertical-align: middle;
  margin-right: 2.5%;
  border: 0.3vw solid #4279bd;
  color: #4279bd;
}

.search_bar {
  border-top: 0.3vw solid #4279bd;
  padding-left: 2.5%;
  border-bottom: 0.3vw solid #4279bd;
}

.submit {
  width: 5%;
  height: 5%;
  vertical-align: middle;
  margin-left: 6%;
}

.slide {
  margin: 0;
  border: 0.5vw solid #eeeeee;
  padding: 0;
}

.sport_word {
  display: inline-block;
  font-size: 3vw;
}

.sport {
  display: inline-block;
  width: 20%;
  margin-top: 2.5%;
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
  
}

.sport_icon {
  display: inline-block;
  
}

.select {
  display: inline-block;
  border: 0.5vw solid #eeeeee;
}

.center {
  display: inline-block;
  width: 48%;
  margin-left: 1%;
}

.product_img {
  display: inline-block;
}

.intro {
  display: inline-block;
  width: 48%;
  
  
}

.intro p {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 3vw;
  color: #7a7a7a;
}

.address {
  vertical-align: middle;
}

.heart {
  vertical-align: middle;
}

.product_word {
  font-size: 4vw;
  color: #4279bd;
  margin-left: 1%;
}

.product_small_word {
  font-size: 3vw;
  color: #7a7a7a;
  margin-left: 1%;
}

.center_word {
  font-size: 3.5vw;
  color: #4279bd;
}

.coach_word {
  font-size: 3.5vw;
  color: #EC3B4D;
}

.register {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}

.register button {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #eeeeee;
  border: 0.3vw solid #4279bd;
  border-radius: 10% / 30%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.register a {
  color: #4279bd;
  font-size: 4vw;