@font-face {
  font-family: "나눔스퀘어";
  src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  font-family: "나눔스퀘어", "Nanum Gothic";
  margin: 0;
}

body a {
  text-decoration: none;
}

.side_bar {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.semos {
  margin-left: 24%;
  margin-right: 24%;
  
}

.search {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.top {
  position: fixed;
  border: 0.5vw solid white; 
  padding-top: 2% ;
  padding-bottom: 2% ;
  background-color: white;
  border-bottom: 0.3vw solid #4279bd ;
}

.center_register {
  padding-top: 10vw;
  padding-left: 2.5%;
}



form {
  padding-left: 2.5%;
}

form p {
  font-size: 3vw;
  color: #4279bd;
}

.name input{
  width: 60%;
  border: 0.4vw solid #7a7a7a;
}

.address input{
  width: 60%;
  border: #7a7a7a;
  border: 0.4vw solid #7a7a7a;
}

input {
  font-size: 3vw;
  font-family: "나눔스퀘어", "Nanum Gothic";
  border: 0.4vw solid #7a7a7a;
  color: #7a7a7a;
}

.tel input {
  width: 10%;
}

select {
  font-size: 3vw;
  margin-right: 2.5%;
  font-family: "나눔스퀘어", "Nanum Gothic";
  width: 13%;
  color: #7a7a7a;
  border: 0.4vw solid #7a7a7a;
}

.category select {
  width: 25%;
}

textarea {
  font-size: 3vw;
  font-family: "나눔스퀘어", "Nanum Gothic";
  border: 0.4vw solid #7a7a7a;
}

.img input{
  border: none;
}

.submit {
  width: 30%;
  background-color: #4279bd;
  font-size: 4vw;
  color: white;
  border: none;
  border-radius: 10% / 30%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.submit_div {
  text-align: center;
}