@font-face {
    font-family: "나눔스퀘어";
    src:url("./Nanum/NanumSquareB.ttf") format("truetype"),
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  
  .side_bar {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .semos {
    margin-left: 24%;
    margin-right: 24%;
    
  }
  
  .search {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .top {
    position: fixed;
    border: 0.5vw solid white; 
    padding-top: 2% ;
    padding-bottom: 2% ;
    background-color: white;
  }
  
  body {
    margin: 0;
    font-family: "나눔스퀘어", "Nanum Gothic";
  }
  
  body a {
    text-decoration: none;
  }

  .enter {
      border: 0.3vw solid #4279bd;
      width: 50%;
  }

  .enter p{
      margin-left: 10%;
      color: #4279bd;
  }
  
  input {
    font-family: "나눔스퀘어", "Nanum Gothic"; 
    border-radius: 5% / 20%;
    border: 0.3vw solid #4279bd;
  }

  form div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 2.5%;
    width: 60%;
}

  .enter a {
    color: #4279bd;

    font-size: 2vw;
  }

  .login {
    margin-bottom: 5%;
    width: 100%;
    font-size: 3vw;
  }

  .submit {
      font-size: 3vw;
      background-color: white;
      color: #4279bd;
  }
  
  .register {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
  }